{% extends 'base.html' %} {% block title %}ImageApp - Welcome{% endblock %}
{%block content %}
<div class="wrapper">
  <h1>Image Processeing services</h1>
  <div class="cols">
    <a href="#" class="col">
      <span>Services name</span>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
        repellat velit quae suscipit c.
      </p>
    </a>
    <a href="#" class="col">
      <span>Services name</span>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
        repellat velit quae suscipit c.
      </p>
    </a>
    <a href="#" class="col">
      <span>Services name</span>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
        repellat velit quae suscipit c.
      </p>
    </a>
  </div>
</div>
{% endblock %}
