{% extends 'base.html' %} {% block title %}ImageApp - Welcome{% endblock %}
{%block content %}
<div class="wrapper">
  <h1>Image Processeing services</h1>
  <div class="cols">
    <a href="/edit_kontrast" class="col">
      <span>Kontrastni o'zgartirish </span>
      <p>
        Manaxron tasirning yoruqlik darajasini o'zgartish. Ya'ni tasvirni yorqinlashtrish yoki aksincha.  
      </p>
    </a>
    <a href="/affin_transformation" class="col">
      <span>Affin almashtrish</span>
      <p>
        Tasvirni o'zgartish: Surish, kengaytrish, berilgan darajaga burish va boshqalar 
      </p>
    </a>
    <a href="#" class="col">
      <span>Services name</span>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum
        repellat velit quae suscipit c.
      </p>
    </a>
  </div>
</div>
{% endblock %}
